*{
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
  }

.my_projects{
    color: #01C3A7;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.Collage{
    text-align: center;
	box-sizing: border-box;
	/* Qolgan stil tanlashlar */
	width: 100%;
	padding: 20px;
	border: 3px solid #000;
	margin-left: 250px;
  	margin-right: 250px;
	width: calc(100% - 500px); /* Umumiy hajmni belgilash */
}
.BMICalculator{
	text-align: center;
	box-sizing: border-box;
	/* Qolgan stil tanlashlar */
	width: 100%;
	padding: 20px;
	border: 3px solid #000;
	margin-left: 250px;
  	margin-right: 250px;
	width: calc(100% - 500px); /* Umumiy hajmni belgilash */
}

.GitHubKitobcha{
	text-align: center;
	box-sizing: border-box;
	/* Qolgan stil tanlashlar */
	width: 100%;
	padding: 20px;
	border: 3px solid #000;
	margin-left: 250px;
  margin-right: 250px;
	width: calc(100% - 500px); /* Umumiy hajmni belgilash */
}


.about_me a{
    text-align: center;
    color: #ffffff;
    box-shadow: 0 0 5px #01C3A7, 0 0 15px #01C3A7;
    display: inline-block;
    background: #01C3A7;
    color: #ffffff; /* Oq rang */
    padding: 17px 50px;
    border-radius: 40px; 
    text-decoration: none !important;
    font-weight: 900;
    font-size: 15px;
    transition: background 0.3s ease;
    margin-top: 45px; 


  }
  
  .about_me a:hover {
    text-align: center;
    background: rgb(248, 248, 248);
    color: #000000; /* Oq rang */
  }

  @media  screen and (max-width: 600px) 
  {
    .my_projects{
      font-size: 36px;
      line-height: 50px;
    }

    .Collage{
    text-align: center;
    /* Qolgan stil tanlashlar */
    width: 100%;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100% - 250px); /* Umumiy hajmni belgilash */
  }

  .BMICalculator{
    text-align: center;
    /* Qolgan stil tanlashlar */
    width: 100%;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100% - 250px); /* Umumiy hajmni belgilash */
  }
  
  .GitHubKitobcha{
    text-align: center;
    /* Qolgan stil tanlashlar */
    width: 100%;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100% - 250px); /* Umumiy hajmni belgilash */
  }
  

  }
